/* @theme master */

@import 'default';

:root {
  --color-primary: #1b1464;
  --color-accent: #de1f36;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #6B6B6B;
  --color-grey-light: #dedede;

  font-size: 24px; /*  font-size: 35px; for slides with bigger fonts or 24 for normal one */
  line-height: 1.4rem;
}


@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  src: url('../assets/fonts/IBM_Plex_Sans/IBMPlexSans-VariableFont_wdth,wght.ttf');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  src: url('../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Italic-VariableFont_wdth,wght.ttf');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  src: url('../assets/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf');
}

@import 'base';